<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ljq.LoggerDao.mapping.TfilelogMapper">
    <!-- 记录文件迁移日志-->
    <insert id="insertFilelog" parameterType="Map">
        insert into t_filelog(xh,khh,rq,wjlj,bz)
        values(#{xh},#{khh},#{rq},#{wjlj},#{bz})
    </insert>


</mapper>  