<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration  
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
  
<configuration>

    <properties>
        <property name="dialect" value="sqlserver"/>
    </properties>

    <settings>  
        <setting name="lazyLoadingEnabled" value="false" />  
    </settings>  
  
    <typeAliases>  
        <typeAlias alias="Tfilelog" type="com.ljq.LoggerDao.model.Tfilelog" />
    </typeAliases>  
  
    <environments default="development">  
        <environment id="development">  
            <transactionManager type="JDBC" />  
            <dataSource type="POOLED">  
                <property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
                <property name="url" value="jdbc:sqlserver://127.0.0.1:1481;DatabaseName=kdcc30data" />
                <property name="username" value="sa" />
                <property name="password" value="123456" />
            </dataSource>  
        </environment>  
    </environments>  
    <mappers>  
        <mapper resource="com/ljq/LoggerDao/mapping/TfilelogMapper.xml" />
    </mappers>  
</configuration>  